<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Verduleria</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <!-- Esta etiqueta h1 sirve para ponerle un titulo a nuestra tabla
        
            En el text le estamos poniendo nuestra "Variable" que se va a 
            llamar titulo, entonces en el controlador nosotros le devolvemos al
            front end, un titulo que es ese mismo.En nuestro caso 
            "Tabla personas"-->
        <h1 th:text="${titulo}"></h1>
        
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
                
                <!-- tr = table row, o sea una fila -->
                <tr>
                    <!-- Todas estas son las columnas que tenemos en nuestra
                    clase persona, ademas de que le agregamos, editar y eliminar
                    -->
                    <!-- th = table head, titulos de la tabla-->
                    
                    <th scope="col">Nombre </th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Tipo de Verdura</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                    
                    
                    
                </tr>
            </thead>
            
            <!-- Aqui comienza el cuerpo de nuestra tabla -->
            <tbody>
                
            <!-- Aqui vamos a usar un th:each, puede verse como un for un while
            (ciclo), decimos que por cada usuario en personas (variable que 
            obtenemos del controlador) voy hacer una fila donde la informacion
            va a ser la siguiente: -->
            <th:block th:each="user : ${verduleria}">
                <tr>
                    
                    <!-- Entonces agregamos un texto que es sustituido, por user 
                    .getnombre Entonces, en la clase persona en entity tenemos 
                    un metodo que nos devuelve el nombre de la persona y asi
                    para las demas de la variables.-->
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getCantidad}"></td>
                    <td th:text="${user.getTipo}"></td>
                    <td th:text="${user.getPrecio}"></td>
                    <td th:text="${user.getSede.getNom_Sede}"></td>
                    
                    <!-- Aqui agregamos un hipervinculo donde le pasamos el 
                    url que queremos llamar para ejecutar algun metodo
                    
                    Basicamente aqui mapeamos el url con el que vamos a hacer
                    ciertas funciones en nuestro controllador-->
                    
                    <td>
                        <!-- Este es el metodo editar persona en cual le 
                        pasabamos un id, etc -->
                        <a th:href="@{/editVerduleria/{id}(id=${user.getId})}"> Edit</a>
                    <td>
                    <td>
                        <!-- Este es el metodo delete persona en cual le 
                        pasabamos un id, etc -->
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                    </td> 
                </tr>
            </th:block>
        </tbody>
    </table>
</html>